target/
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
logs/
*.log
.DS_Store
node_modules/
dist/
.vite/
web/dist/
*.class
.factorypath
hs_err_pid*
uploads/
.auto-import.json
auto-imports.d.ts
components.d.ts
